In [1]:
from bs4 import BeautifulSoup  
import pandas as pd

In [10]:
file = open("taxis.xml",'r')
contents = file.read()
soup = BeautifulSoup(contents,'xml')
file.close()
taxis = soup.find_all("taxi")
print("Taxis found: ", len(taxis))

Taxis found:  38

In [5]:
data = []
for taxi in taxis:
    id = taxi["id"]
    customers = int(taxi["customers"])
    fullDistance = float(taxi["fullDistance"])
    fullTime = int(taxi["fullTime"])
    idleDistance = float(taxi["idleDistance"])
    idleDistanceRatio = float(taxi["idleDistanceRatio"])
    idleTime = int(taxi["idleTime"])
    idleTimeRatio = float(taxi["idleTimeRatio"])
    occupancyRate = float(taxi["occupancyRate"])
    occupiedDistance = float(taxi["occupiedDistance"])
    occupiedTime = int(taxi["occupiedTime"])
    rows = [id, customers, occupancyRate, fullDistance, occupiedDistance, idleDistance, idleDistanceRatio, fullTime, occupiedTime, idleTime, idleTimeRatio]
    data.append(rows)

df = pd.DataFrame(data, columns=["id", "customers", "occupancyRate", "fullDistance", "occupiedDistance", "idleDistance", "idleDistanceRatio", "fullTime", "occupiedTime", "idleTime", "idleTimeRatio"])

In [8]:
display(df.head())

,id,customers,occupancyRate,fullDistance,occupiedDistance,idleDistance,idleDistanceRatio,fullTime,occupiedTime,idleTime,idleTimeRatio
0,t0,4,1.2,10311.85,8111.15,2200.70,0.21,1297,794,503,0.39
1,t1,3,1.0,9131.14,7611.13,1520.01,0.17,1306,726,580,0.44
2,t2,3,1.0,10672.18,7833.74,2838.44,0.27,1306,779,527,0.40
3,t3,3,1.0,9988.51,7698.81,2289.70,0.23,1306,703,603,0.46
4,t4,1,1.0,3811.71,2537.59,1274.12,0.33,1302,262,1040,0.80

In [9]:
df.mean()

C:\Users\bochenin\AppData\Local\Temp\ipykernel_3636\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

customers               2.552632
occupancyRate           1.030263
fullDistance         9138.471842
occupiedDistance     6687.536053
idleDistance         2450.935789
idleDistanceRatio       0.270000
fullTime             1303.394737
occupiedTime          644.131579
idleTime              659.263158
idleTimeRatio           0.505789
dtype: float64